SHIP_REMOTE_HOST=ubuntu@your-server-ip
SHIP_REMOTE_REPO_DIR=/var/www/dp-site-repo
SHIP_BRANCH=main
# Optional: override repo URL if server should clone from a different origin
# SHIP_REMOTE_REPO_URL=git@github.com:seongkohn/dp-site.git
